{{ define "main" }}
<article>
  <h2 class="page-title">{{ .Title }}</h2>
  {{ with .Params.subtitle }}<p class="page-subtitle">{{ . }}</p>{{ end }}
  {{ .Content }}
  <div class="item-list">
    {{ range .Pages }}
    <div class="item">
      {{ with .Params.status }}<p class="item-status">{{ . }}</p>{{ end }}
      <h3 class="item-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      {{ with .Params.meta }}<p class="item-meta">{{ . | markdownify }}</p>{{ end }}
      <div class="item-summary">{{ .Summary }}</div>
      {{ with .Params.action }}<p class="item-action"><a href="{{ .url }}">{{ .text }} &rarr;</a></p>{{ end }}
    </div>
    {{ end }}
  </div>
</article>
{{ end }}
